/*鐢ㄦ埛娉ㄥ唽*/

p>img{
	width: 20px;
	height:20px;
}
.register{
	padding-top: 80px;
}
.register-index {
	width: 100%;
	max-height: 900px;
	background: rgb(242, 242, 242);
}

.register .container {
	position: relative;
	width: 100%;
	max-height: 900px;
}

.conta-skip {
	position: absolute;
	top: 240px;
	left: 560px;
	width: 400px;
	height: 300px;
	background: rgba(245, 245, 240, 0.7);
	margin: 0px auto;
	z-index: 999;
	border: 2px solid rgba(248, 248, 255, 0.5);
	display: none;
	animation: mymove 4s infinite;
}
/*@keyframes mymove{
	/*璁剧疆璧峰  杩囩▼  缁堢偣*/
	 0%{
		border-radius:50%;
	}
	50%{
		border-radius:0%;
	}
	100%{
		border-radius:50%;
	}
}*/
.hclose {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	display: block;
	cursor: pointer;
}

.conta-skip .load-conta {
	width: 300px;
	height: 300px;
	margin: auto;
	/*padding-top: 50px;*/
	/*background: steelblue;*/
}
.regtit{
	width:398px;
	height: 50px;
	background:gainsboro;
	border-bottom:2px solid whitesmoke ;
}

.regtit .hclose {
	float: right;
	line-height: 20px;
	font-size:30px ;
	color: white;
}

.load-number {
	margin-left: 110px;
}

.load-number span {
	width: 10px;
	height: 10px;
	display: inline-block;
	background: white;
	margin: 0 4px;
	border-radius: 50%;
	cursor: pointer;
}

.load-number .current {
	background: deepskyblue;
}

.load-conta>h3 {
	text-align: center;
	line-height: 110px;
	color: skyblue;
	font-size: 40px;
}

.load-conta>h2 {
	text-align: center;
	line-height: 110px;
	color: black;
	opacity: 0.5;
	font-size: 40px;
}

.register-conta {
	position: relative;
	max-width: 830px;
	max-height: 800px;
	margin: 40px auto;
	background: white;
	border: 1px solid whitesmoke;
	animation: rgmove 3s ease;
	z-index: 10;
}

@keyframes rgmove {
	/*璁剧疆璧峰  杩囩▼  缁堢偣*/
	from {
		width: 280px;
	}
	to {
		width: 800px;
	}
}

.register-conta .input-group {
	position: relative;
	max-width: 500px;
	max-height: 80px;
	margin: 25px auto;
}

.register-conta .input-group input {
	outline: none;
	max-height: 80px;
}

.register-conta .input-group input:focus {
	box-shadow: 0 0 0 #FFFFFF;
	border: 1px solid skyblue;
}

.register-conta .input-group p {
	position: absolute;
	top: 47px;
	left: 0px;
	color: red;
	opacity: 0.7;
	display: none;
}

.register-conta .input-group .mesError {
	position: absolute;
	top: 47px;
	left: 0px;
	color: red;
	opacity: 0.7;
	display: none;
}

.register-conta .input-group .mes1Error {
	position: absolute;
	top: 47px;
	left: 0px;
	color: red;
	opacity: 0.7;
	display: none;
}

.register-conta .input-group h5 {
	position: absolute;
	width: 32px;
	height: 40px;
	top: -20px;
	left: 505px;
	background: url(../img/reg_icons.png) -64px -40px no-repeat;
	display: none;
}

.input-group .form-messge {
	max-width: 300px;
}

.form-register .input-group>a {
	width: 190px;
	height: 40px;
	background: whitesmoke;
}

.form-register .input-group>a #register-random {
	width: 190px;
	height: 32px;
}

.register-btn {
	max-width: 500px;
	max-height: 60px;
	margin: 10px auto;
	font-weight: bold;
	color: white;
	font-size: 20px;
	background: lightskyblue;
	opacity: 0.7;
}

.register-btn:hover {
	color: white;
	opacity: 0.5;
}

.register-conta .form-register h5 {
	max-width: 500px;
	margin: 20px auto;
}

.register-conta .form-register h5>a {
	text-decoration: none;
	color: steelblue;
	opacity: 0.5;
}

.register-conta .form-register h5>a:hover {
	opacity: 1;
}
/*澶村儚*/
.form-register .register-photo{
	margin-top: 10px;
	position: relative;
}
.form-register .register-photo .photoimg{
	
}
.form-register .register-photo .photoimg .imgphoto{
	width: 80px;
	height: 80px;
	border: 1px solid  #31B0D5 ;
}
.form-register .register-photo .photoimg .imgadd{
	position: absolute;
	width:25px;
	height: 80px;
	color:cornflowerblue;
	opacity: 0.9;
	font-size: 30px;
	line-height: 140px;
	cursor: pointer;
}
.form-register .register-photo .photoimg .imgadd:focus{
	opacity: 0.5;
}
.form-register .register-photo .select-file{
	position: absolute;
	left:60%;
	top: 54px;
	display: none;
}
/*瀵嗕繚闂*/
.register-question{
	
}






/*鐧诲綍*/

.login{
	padding: 80px;
}

.login-index {
	width: 100%;
	max-height: 900px;
	margin: 0 auto;
	background: rgb(242, 242, 242);
	background: url(../dq_img/bg1.gif) ;
	opacity: 0.8;
}

.login-index .container {
	width: 100%;
	max-height: 900px;
	margin: 0 auto;
}

.login-conta {
	max-width: 700px;
	max-height: 700px;
	margin: 20px auto;
	background:white;
	border: 1px solid white;
	border-top: 2px solid darkblue;
	animation: logmove 3s ease;
	opacity: 0.8;
}

@keyframes logmove {
	/*璁剧疆璧峰  杩囩▼  缁堢偣*/
	from {
		width: 230px;
	}
	to {
		width: 800px;
	}
}

.login-conta .ti {
	margin: 30px auto;
}

.login-conta .form-login {
	position: relative;
	width: 100%;
	height: 100%;
}

.login-conta .form-login .remember {
	position: absolute;
	border: 1px solid #CCCCCC;
	top: 15%;
	left: 18.0%;
	width: 64%;
	height: 40%;
	display: none;
}

.login-conta .form-login .remember>p {
	display: none;
}

.login-conta .form-login .loginput {
	position: relative;
	width: 100%;
	height: 100%;
}

.login-conta .form-login .loginput>input {
	max-width: 450px;
	max-height: 50px;
	margin: 30px auto;
}

.login-conta .form-login .logpass {
	width: 100%;
	height: 100%;
	position: relative;
}

.login-conta .form-login .logpass>input {
	max-width: 450px;
	max-height: 50px;
	margin: 30px auto;
}

.login-conta .form-login .loginput>input:focus {
	box-shadow: 0 0 0 #FFFFFF;
	border: 1px solid dodgerblue;
}

.login-conta .form-login .logpass>input:focus {
	box-shadow: 0 0 0 #FFFFFF;
	border: 1px solid dodgerblue;
}

.login-conta .form-login .logpass .cluepass,
.loginput .clueuser {
	position: absolute;
	top: 100%;
	left: 18%;
	color: green;
	display: none;
}

.login-conta .form-login .loginput .logError {
	position: absolute;
	display: none;
	top: 100%;
	left: 18%;
	color: red;
}

.login-conta .form-login .logpass .logpassError {
	position: absolute;
	display: none;
	top: 100%;
	left: 18%;
	color: red;
}

.login-conta .form-login .loginput .clear {
	position: absolute;
	display: none;
	width: 16px;
	height: 16px;
	top: 25%;
	left: 79%;
	background: url(../img/reg_icons.png) -50px -24px no-repeat;
	opacity: 0.6;
	cursor: pointer;
}

.login-conta .form-login .loginput .clear:hover {
	opacity: 1;
}

.login-conta .form-login .logpass .clear1 {
	position: absolute;
	width: 16px;
	height: 16px;
	top: 25%;
	left: 79%;
	background: url(../img/reg_icons.png) -50px -24px no-repeat;
	opacity: 0.6;
	cursor: pointer;
	display: none;
}

.login-conta .form-login .logpass .clear1:hover {
	opacity: 1;
}

.login-conta .form-login h5 {
	max-width: 450px;
	margin: 0 auto;
}

.login-conta .form-login h5>a {
	text-decoration: none;
	margin: 0 auto;
	color: steelblue;
	opacity: 0.5;
	cursor: pointer;
}

.login-conta .form-login h5>a:hover {
	opacity: 1;
}

.login-conta .form-login>button, .form-login>a {
	text-decoration: none;
	max-width: 450px;
	max-height: 50px;
	margin: 10px auto;
	color: white;
	font-size: 20px;
}

.login-conta .form-login .login-btn {
	background: dodgerblue;
	opacity: 0.8;
}

.login-conta .form-login .login-btn:hover {
	background: dodgerblue;
	opacity: 1;
}

.login-conta .form-login .login-btn1 {
	margin-bottom: 20px;
	background: lightskyblue;
	opacity: 0.8;
}

.login-conta .form-login .login-btn1:hover {
	background: lightskyblue;
	opacity: 1;
}


/*蹇樿瀵嗙爜*/
.find-pass{
	padding-top: 80px;
}
.find-index {
	width: 100%;
	max-height: 900px;
	margin: 0 auto;
	background: rgb(242, 242, 242);
}

.find-index .container {
	width: 100%;
	max-height: 900px;
}

.find-conta {
	max-width: 700px;
	max-height: 800px;
	margin: 20px auto;
	background: whitesmoke;
	border: 1px solid whitesmoke;
	opacity: 1;
	animation: move2 3s ease;
}

@keyframes move2 {
	/*璁剧疆璧峰  杩囩▼  缁堢偣*/
	from {
		width:150px;
	}
	to {
		width: 800px;
	}
}

.find-conta .form-find {
	position: relative;
	width: 100%;
	height: 100%;
}
.form-find .input-group , .find-userone {
	max-width: 450px;
	max-height: 50px;
	margin: 30px auto;
}

.find-conta .form-find .input-group >input {
	outline: none;
	max-height: 50px;
}
.input-group .find-user{
	max-width: 450px;
	max-height: 50px;
}


.find-conta .form-find .input-group input:hover {
	border: 1px solid dodgerblue;
}

.form-find .input-group  p {
	position: absolute;
	top: 47px;
	left: 0px;
	color: red;
	opacity: 0.7;
	display: none;
}
.find-userone p{
	position: absolute;
	top: 47px;
	left: 125px;
	color: red;
	opacity: 0.7;
	display: none;
}

.form-find .input-group .find-messge {
	max-width: 300px;
	box-shadow: 0 0 0 #FFFFFF;
}

.form-find .input-group .find-messge:hover {
	border: 1px solid dodgerblue;
}

.form-find .input-group>a {
	max-width: 190px;
	max-height: 50px;
	border: 1px solid #ccc;
	background: whitesmoke;
}
/*楠岃瘉鐮�*/
.form-find .input-group>a input {
	width: 120px;
	height: 32px;
	font-size: 20px;
	line-height: 10px;
	font-family: "arial, helvetica, sans-serif";
	font-style: italic;
	color: slateblue;
	background: whitesmoke;
	border: none;
	outline: medium;
}

.form-find>input:focus {
	box-shadow: 0 0 0 #FFFFFF;
	border: 1px solid dodgerblue;
}

/*.form-find .findError {
	position: absolute;
	display: none;
	top: 20%;
	left: 17.5%;
	color: red;
}

.form-find .findError1,
.findError2 {
	position: absolute;
	display: none;
	top: 55%;
	left: 17.5%;
	color: red;
}*/


/*.form-find .findError2 {
	position: absolute;
	display: none;
	top: 55%;
	left: 17.5%;
	color: red;
}*/

.form-find>a {
	text-decoration: none;
	max-width: 450px;
	max-height: 50px;
	margin: 10px auto;
	color: white;
	font-size: 20px;
}

.form-find .find-btn {
	background: dodgerblue;
	opacity: 0.5;
}

.form-find .find-btn:hover {
	color: white;
	background: dodgerblue;
	opacity: 0.7;
}

.form-find h5 {
	max-width: 450px;
	margin: 0 auto;
	font-size: 20px;
}

.form-find h5>a {
	text-decoration: none;
	margin: 0 auto;
	color: steelblue;
	opacity: 0.5;
	cursor: pointer;
}

.form-find h5>a:hover {
	opacity: 1;
}

/*閲嶇疆瀵嗙爜*/



.reset{
	padding-top: 80px;
}
.reset-index {
	width: 100%;
	max-height: 900px;
	background: rgb(242, 242, 242);
}

.reset .container {
	position: relative;
	width: 100%;
	max-height: 900px;
}


.reset-conta {
	position: relative;
	max-width: 830px;
	max-height: 800px;
	margin: 40px auto;
	background: white;
	border: 1px solid whitesmoke;
	animation: move 3s ease;
	z-index: 10;
}

@keyframes move {
	/*璁剧疆璧峰  杩囩▼  缁堢偣*/
	from {
		width: 120px;
	}
	to {
		width: 800px;
	}
}

.reset-conta .input-group , .reset-userone {
	position: relative;
	max-width: 500px;
	max-height: 80px;
	margin: 30px auto;
}


.reset-conta .input-group input {
	outline: none;
	max-height: 80px;
}



.reset-conta .input-group input:focus {
	box-shadow: 0 0 0 #FFFFFF;
	border: 1px solid skyblue;
}

.reset-conta .input-group p {
	position: absolute;
	top: 47px;
	left: 0px;
	color: red;
	opacity: 0.7;
	display: none;
}
.reset-conta .input-group p>img{
	width: 20px;
	height:20px;
}

.form-reset>a {
	text-decoration: none;
	max-width: 500px;
	max-height: 80px;
	margin: 10px auto;
	color: white;
	font-size: 20px;
}

.form-reset .reset-btn {
	background: dodgerblue;
	opacity: 0.5;
}

.form-reset .reset-btn:hover {
	color: white;
	background: dodgerblue;
	opacity: 0.7;
}

.form-reset h5 {
	max-width: 500px;
	margin: 0 auto;
	font-size: 20px;
}

.form-reset h5>a {
	text-decoration: none;
	margin: 0 auto;
	color: steelblue;
	opacity: 0.5;
	cursor: pointer;
}

.form-reset h5>a:hover {
	opacity: 1;
}


/*璁㈠崟*/
.my-order{
	padding-top: 90px;
	background: rgb(242, 242, 242);
	
.myorder{
	width: 100%;
}
.myorder > .container .row .adress-order .adre-tit{
	width: 100%;
	height: 90px;
}
.my-order .tita{
	color: red;
}
.titone{
  text-decoration: none;
}
.adr .addli>li{
	width: 283px;
	height: 110px;
	background: forestgreen;
}
